<h2 style='padding:15px'>Sign Up</h2>
<div class='d-flex justify-content-center'>
  <div class='col-md-5'>
  <h4 style='padding-top: 15px; padding-bottom:15px'>Your Personal Information</h4>
  <%= form_with model: @user, url: sign_up_path do |f| %>
    <div class='mb-4'>
      <%= f.label :email%>
      <%= f.text_field :email, placeholder:'john@doe.com', class:'form-control', autocomplete: 'off' %>
    </div>
    <div class='mb-4'>
      <%= f.label :password%>
      <%= f.password_field :password, placeholder:'*********', class:'form-control' %>
    </div>
    <div class='mb-4'>
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, placeholder:'*********', class:'form-control' %>
    </div>
    <div class='mb-4'>
      <p><%= f.label :role %></p>
      <%= f.select(:role, options_for_select(['student','lecturer'])) %>
    </div>
    <div class='mb-4'>
      <%= f.submit 'Sign Up', data:{turbo_confirm: 'Are you sure that these details are correct?', turbo_method: :post}, class:'btn btn-info'%>
    </div>
  <% end %>
  </div>
</div>