<h1 style='padding-top: 20px'>Electronic Engineering</h1>
<div class='text-center'>
  <%= image_tag "https://images.unsplash.com/photo-1583459094467-e0db130c0dea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxpZ2h0bmluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60", class:"img-circle ; col-md-12", style:"width:480px;height:480px;"%>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <div class='text-center' style='padding-top:25px; padding-bottom: 50px'>
    <h3>What is Electronic Engineering</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @electronic[:info_1] %> </p>
    </div>
    <h3>Is this for you?</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @electronic[:info_2] %> </p>
    </div>
    <h3>Minimum Requirements</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @electronic[:info_3] %> </p>
    </div>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <%= link_to 'your ap score', ap_score_path %>
    </div>
  </div>
</div>