<h1 style='padding-top: 20px'>Mechanical Engineering</h1>
<div class='text-center'>
  <%= image_tag "https://images.unsplash.com/photo-1553159925-02b2e24f471d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGlwZWxpbmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60", class:"img-circle", style:"width:480px;height:480px;"%>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <div class='text-center' style='padding-top:25px; padding-bottom: 50px'>
    <h3>What is Mechanical Engineering</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @mechanical[:info_1] %> </p>
    </div>
    <h3>Is this for you?</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @mechanical[:info_2] %> </p>
    </div>
    <h3>Minimum Requirements</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @mechanical[:info_3] %> </p>
    </div>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <%= link_to 'your ap score', ap_score_path %>
    </div>
  </div>
</div>