<h1 style='padding-top:10px'>Vermillion University of Engineering</h1>
<h4 style='padding-top:10px'>Vermillion Universiteit van Ingenieurswese</h4>

<div class='d-flex justify-content-center mt-4 mb-2' style='padding-top:10px'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p><h4>Verimillion University Steals Top Spot Once Again</h4></p>
      <p> <%= @news[:news_1] %> </p>
    </div>
    <div class='right'>
      <%= image_tag "https://images.unsplash.com/photo-1514820720301-4c4790309f46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJpemV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60", class:'col-md-12'%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'>
  <div class='sectioning col-md-8'>
    <div class='right' style='text-align: justify' style='text-align: justify'>
      <p><h4>Professor Celebrates Research Success</h4></p>
      <p> <%= @news[:news_2] %> </p>
    </div>
    <div class='left'>
      <%= image_tag "https://images.unsplash.com/photo-1620678902307-c3a334984277?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29udHJvbCUyMHN5c3RlbXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60", class:"col-md-12"%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p><h4>PHD Student Discovers Light Matter</h4></p>
      <p> <%= @news[:news_3] %> </p>
    </div>
    <div class='right'>
      <%= image_tag "https://plus.unsplash.com/premium_photo-1674597598651-2dfc7937fbb6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bGlnaHR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60", class:'col-md-12'%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'style='padding-bottom: 50px'>
  <div class='sectioning col-md-8'>
    <div class='right' style='text-align: justify'>
      <p><h4>VU Open for Applications</h4></p>
      <p> <%= @news[:news_4] %> </p>
    </div>
    <div class='left'>
      <%= image_tag "https://images.unsplash.com/photo-1481622254766-0f0a35bf6e77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b3BlbiUyMGZvciUyMGFwb3BsaWNhdGlvbnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60", class:'col-md-12'%>
    </div>
  </div>
</div>
