<div class='d-flex justify-content-center' style='padding-top:10px'>
  <div class='sectioning col-md-8'>
    <h1>Residences</h1>
  </div>
</div>

<div class='d-flex justify-content-center mt-4 mb-2' style='padding-top:10px'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p> <h4>House Novachrono</h4></p>
      <p> <%= @residences[:novachrono]%> </p>
    </div>
    <div class='right'>
      <%= image_tag("golden_dawn.jpeg")%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'>
  <div class='sectioning col-md-8'>
    <div class='right' style='text-align: justify' style='text-align: justify'>
      <p> <h4>House Silva</h4></p>
      <p> <%= @residences[:silva]%> </p>
    </div>
    <div class='left'>
      <%= image_tag("silver_eagles.jpeg")%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'style='padding-bottom: 50px'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p> <h4>House Vermillion</h4> </p>
      <p> <%= @residences[:vermillion]%> </p>
    </div>
    <div class='right'>
      <%= image_tag("crimson_lions.jpeg")%>
    </div>
  </div>
  
</div>
