<div class='d-flex align-items-center justify-content-center row'>
  <div class="card col-md-8" style="background-color: black">
    <div class="card-body">
      <h2 style='padding:15px'>List of Subjects</h2>
  
      <% @subjects_by_year.each do |year| %>
        <div class='collapsible col-md-12' id="collapsible">
          <input type='checkbox' id="collapsible2-head-<%= year.first.year%>">
          <label for="collapsible2-head-<%= year.first.year%>">Year <%= year.first.year%></label>
          <div class="collapsible-text">
            <div>
              <%= render 'table', subjects: year %>
            </div>
          </div>
        </div>
      <%end%>

    </div>
  </div>
</div>
<div class='d-flex justify-content-end col-md-10'>
  <div>
    <%= link_to 'Make a Subject', new_subject_path, class:'btn btn-light'%>
  </div>
</div>

