<h3><%= @lesson.name%>: Lessons</h3>

<% if Current.user.role == 1 %>
  <%= link_to 'Edit Lesson', edit_lesson_path(id: @lesson.id), class:'btn btn-light'%>
<% end %>

<div style='padding: 15px'>
  <h5><p>What is this lesson about?</p></h5>
  <p><%= @lesson.description %></p>
  <p><h6>Files</h6></p>
  <% if @lesson.attachments.attached?%>
    <% @lesson.attachments.each_with_index do |attachment, index| %>
      <p style='padding:10px'>
        <%= link_to url_for(attachment), style:'text-decoration: none; color: white' do %>
          <%= fa_icon 'file-o' %>
          <%= attachment.filename %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>
