<style>
.vl {
  border-left: 2px solid #b3a757;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light" style='height: 280px; background-color: #822019'>
  <div class="container-fluid col-md-10">
    <div class="collapse navbar-collapse d-flex justify-content-center align-items-center">
      <ul class="navbar-nav col-md-8">
        <li class="nav-item col-3">
          <a class="nav-link active" href="/about">About Us</a>
          <a class="nav-link active" href="/about">Contact Us</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item col-3" style='padding-left: 25px'>
          <a class="nav-link active" href="/departments">Departments</a>
          <a class="nav-link active" href="/electronic"> <small><%= fa_icon 'chevron-right' %></small> &nbsp Electronic</a>
          <a class="nav-link active" href="/mechatronic"><small><%= fa_icon 'chevron-right' %></small> &nbsp Mechatronic</a>
          <a class="nav-link active" href="/mechanical"> <small><%= fa_icon 'chevron-right' %></small> &nbsp Mechanical</a>
          <a class="nav-link active" href="/civil">      <small><%= fa_icon 'chevron-right' %></small> &nbsp Civil</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item col-3" style='padding-left: 25px'>
          <a class="nav-link active" href="#">Students</a>
          <a class="nav-link active" href="/calendars"> <small><%= fa_icon 'chevron-right' %></small> &nbsp Calendars</a>
          <a class="nav-link active" href="/residences"><small><%= fa_icon 'chevron-right' %></small> &nbsp Residences</a>
          <a class="nav-link active" href="/apply">     <small><%= fa_icon 'chevron-right' %></small> &nbsp Apply</a>
        </li>
        <div class="vl"></div>
        <li class="nav-item col-3" style='padding-left: 25px'>
          <a class="nav-link active" href="/alumni"> Alumni</a>
          <a class="nav-link active" href="/careers">Careers</a>
          <a class="nav-link active" href="/sign_up">Sign Up</a>
          <a class="nav-link active" href="/sign_in">Sign In</a>
        </li>
      </ul>     
    </div>  
  </div>
</nav>